parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''data'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 6
			path: src/DaftraClient.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: src/DaftraClient.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraClient\:\:createAndPayInvoice\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraClient\:\:deleteClient\(\) has parameter \$clientId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraClient\:\:deleteProduct\(\) has parameter \$productId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraClient\:\:formatResponse\(\) has parameter \$overrides with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraClient\:\:formatResponse\(\) has parameter \$res with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraClient\:\:headers\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraClient\:\:showClient\(\) has parameter \$clientId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraClient\:\:showInvoice\(\) has parameter \$invoiceId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraClient\:\:showProduct\(\) has parameter \$productId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraClient\:\:updateClient\(\) has parameter \$clientId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraClient\:\:updateProduct\(\) has parameter \$productId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Parameter \#1 \$res of method MixCode\\DaftraClient\\DaftraClient\:\:formatResponse\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 14
			path: src/DaftraClient.php

		-
			message: '#^Parameter \#1 \$result of class MixCode\\DaftraClient\\DaftraResponse constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Parameter \#1 \$value of function collect expects Illuminate\\Contracts\\Support\\Arrayable\<\(int\|string\), mixed\>\|iterable\<\(int\|string\), mixed\>\|null, mixed given\.$#'
			identifier: argument.type
			count: 6
			path: src/DaftraClient.php

		-
			message: '#^Part \$clientId \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 3
			path: src/DaftraClient.php

		-
			message: '#^Part \$invoiceId \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Part \$productId \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 3
			path: src/DaftraClient.php

		-
			message: '#^Property MixCode\\DaftraClient\\DaftraClient\:\:\$apiKey \(string\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Property MixCode\\DaftraClient\\DaftraClient\:\:\$endpoint \(string\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/DaftraClient.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 6
			path: src/DaftraClient.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 6
			path: src/DaftraClient.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraClientServiceProvider\:\:boot\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/DaftraClientServiceProvider.php

		-
			message: '#^Class MixCode\\DaftraClient\\DaftraResponse implements generic interface Illuminate\\Contracts\\Support\\Arrayable but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/DaftraResponse.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraResponse\:\:__construct\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DaftraResponse.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraResponse\:\:__construct\(\) has parameter \$extra with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DaftraResponse.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraResponse\:\:__construct\(\) has parameter \$pagination with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DaftraResponse.php

		-
			message: '#^Method MixCode\\DaftraClient\\DaftraResponse\:\:__construct\(\) has parameter \$validationErrors with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DaftraResponse.php

		-
			message: '#^Property MixCode\\DaftraClient\\DaftraResponse\:\:\$extra type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DaftraResponse.php

		-
			message: '#^Class MixCode\\DaftraClient\\Payloads\\ClientPayload implements generic interface Illuminate\\Contracts\\Support\\Arrayable but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Payloads/ClientPayload.php

		-
			message: '#^Method MixCode\\DaftraClient\\Payloads\\ClientPayload\:\:__construct\(\) has parameter \$additional with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Payloads/ClientPayload.php

		-
			message: '#^Class MixCode\\DaftraClient\\Payloads\\InvoiceItemPayload implements generic interface Illuminate\\Contracts\\Support\\Arrayable but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Payloads/InvoiceItemPayload.php

		-
			message: '#^Method MixCode\\DaftraClient\\Payloads\\InvoiceItemPayload\:\:__construct\(\) has parameter \$additional with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Payloads/InvoiceItemPayload.php

		-
			message: '#^Class MixCode\\DaftraClient\\Payloads\\InvoicePayload implements generic interface Illuminate\\Contracts\\Support\\Arrayable but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Payloads/InvoicePayload.php

		-
			message: '#^Method MixCode\\DaftraClient\\Payloads\\InvoicePayload\:\:__construct\(\) has parameter \$additional with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Payloads/InvoicePayload.php

		-
			message: '#^Method MixCode\\DaftraClient\\Payloads\\InvoicePayload\:\:__construct\(\) has parameter \$items with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Payloads/InvoicePayload.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:map\(\) expects callable\(mixed, int\|string\)\: array\<mixed\>, Closure\(MixCode\\DaftraClient\\Payloads\\InvoiceItemPayload\)\: array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Payloads/InvoicePayload.php

		-
			message: '#^Class MixCode\\DaftraClient\\Payloads\\InvoicePaymentPayload implements generic interface Illuminate\\Contracts\\Support\\Arrayable but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Payloads/InvoicePaymentPayload.php

		-
			message: '#^Method MixCode\\DaftraClient\\Payloads\\InvoicePaymentPayload\:\:__construct\(\) has parameter \$additional with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Payloads/InvoicePaymentPayload.php

		-
			message: '#^Class MixCode\\DaftraClient\\Payloads\\ProductPayload implements generic interface Illuminate\\Contracts\\Support\\Arrayable but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Payloads/ProductPayload.php

		-
			message: '#^Method MixCode\\DaftraClient\\Payloads\\ProductPayload\:\:__construct\(\) has parameter \$additional with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Payloads/ProductPayload.php

		-
			message: '#^Method MixCode\\DaftraClient\\Payloads\\ProductPayload\:\:type\(\) should return string\|null but returns int\.$#'
			identifier: return.type
			count: 3
			path: src/Payloads/ProductPayload.php
